img {
	max-width: 100%;
}
a.active {
	font-weight: bold;
}
.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid $light-accent;
	background: $light-bg;
	position: fixed;
	top: 0;
	z-index: 99;
	height: 6rem;
	li {
		flex-grow: 1;
		text-align: center;
		position: relative;
		margin: 0;
		a {
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;
		}
		ul {
			display: none;
			list-style: none;
			position: absolute;
			top: 100%;
			margin: 0;
			width: 100%;
			background: $light-bg;
			border: 1px solid $light-accent;
			box-shadow: 3px 3px 5px 0px hsla(0, 0%, 0%, 0.5);
			li {
				font-size: 1.6rem;
				padding: 1rem 0 1rem 0;
				@media(min-width: $desktop){
					padding: 2rem 0 2rem 0;
				}
				margin: 0;
			}
		}
		&:hover {
			ul {
				display: block;
			}
		}
	}
}
header {
	margin-top: 6rem;
	section {
		text-align: center;
	}
}
.container {
	position: relative;
	section {
		padding: 1.5rem;
		@media (min-width: $desktop){
			padding: 2rem 2.5rem;
		}
		background: $light-bg;
		color: $light-font;
		a {
			color: $light-link;
			&:hover {
				color: $light-link-hover;
			}
		}
		&.dark {
			background: $dark-bg;
			color: $dark-font;
			a {
				color: $dark-link;
				&:hover {
					color: $dark-link-hover;
				}
			}

		}
	}
}

canvas {
	max-width: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
footer {
	p {
		border-top: 1px solid $dark-font;
		text-align: center;
		padding: 5px 0 0 0;
		font-size: 1.2rem;
		margin: 0;
	}
}
.table-of-contents {
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0 0 2.5rem 0;
	padding: 0;
	border-bottom: 1px solid $light-accent;
	.dark &{
		border-bottom: 1px solid $dark-accent;
	}
	li {
		flex-grow: 1;
		text-align: center;
	}
	.active-internal {
		color: $dark-accent;
	}
}
.accordion-toggle{
	margin: 3rem 0 0 0;
	cursor: pointer;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	&.open-accordion {
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid $light-font;
			margin-left: 10px;
			position: absolute;
			top: 40%;
			@media(min-width: $desktop) {
				top: 45%;
			}
		}
	}
	&.closed-accordion {
		margin-bottom: 3rem;
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $light-font;
			margin-left: 10px;
			position: absolute;
			top:45%;
			@media(min-width: $desktop) {
				top: 50%;
			}
		}
	}

	@media(min-width: $desktop) {
		margin: 3rem 0 0 3rem;
		text-align: left;
	}
}
.accordion-content {
	display: block;
	margin: 1rem 0 0 0;
	max-height: 400px;
	overflow: scroll;
	border: 1px solid $light-accent;
	padding: 5px;
	//box-shadow: inset 0 0 10px hsla(0, 0%, 0%, 0.2);
	@media(min-width: $desktop) {
		border-width: 0 0 0 3px;
		padding-left: 10px;
		margin-left: 3rem;
		margin-top: 2rem;
	}
}
.circular {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border: 1px solid #000;
	position: relative;
}
.alesha {
	background: url(../img/commanderIcons/alesha.jpg) no-repeat;
}
.karador {
	background: url(../img/commanderIcons/karador.jpg) no-repeat;
}
.mimeoplasm {
	background: url(../img/commanderIcons/mimeoplasm.jpg) no-repeat;
}
.derevi {
	background: url(../img/commanderIcons/derevi.jpg) no-repeat;
}
.nekusar {
	background: url(../img/commanderIcons/nekusar.jpg) no-repeat;
}
.zur {
	background: url(../img/commanderIcons/zur.jpg) no-repeat;
}
.maelstrom {
	background: url(../img/commanderIcons/maelstrom.jpg) no-repeat;
}
.hazezon {
	background: url(../img/commanderIcons/hazezon.jpg) no-repeat;
}
.unknown {
	background: url(../img/unknown.jpg) no-repeat;
}
.symbol-container {
	position: absolute;
	top: 75%;
	left: 10%;
}
.mana-symbol {
	width: 35px;
	height: 35px;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}
.mana-symbol-main {
	height: 40px;
	width: 40px;
}
#eloStandings {
	@media(min-width: $desktop) {
		//max-width: 65%;
	}
}
.generic-table {
	font-size: 1.4rem;
	@media(min-width: $desktop){
		font-size: 1.6rem;
		height: auto;
		max-height: 500px;
		overflow: scroll;
	}
	th, td {
		padding: 0;
		width: auto;
	}
	th {
		padding-bottom: 5px;
	}
}
.match-table {
	@extend .generic-table;
	tr.data-row:nth-child(odd){
		td {
			background: #f2f2f2;
			.dark & {
				background: #333;
			}
		}
	}
	td {
		table {
			margin-bottom: 0;
			td {
				border: none;
			}
		}
	}
	th, td {
		&.cell-points, &.cell-elo {
			text-align: right;
			td {
				text-align: right;
			}
		}
		&.cell-elo {
			padding-right: 5px;
			@media(min-width: $desktop){
				padding-right: 15px;
			}
		}
		&.cell-date {
			width: 25%;
			padding-left: 5px;
		}
	}
}
.standings-table {
	@extend .generic-table;
	tr.data-row:nth-child(odd){
		.dark & {
			background: #333;
		}
		td {
			.dark & {
				border-bottom: 0.1rem solid #404040;
				border-top: 0.1rem solid #404040;
			}
		}
	}
	th, td {
		&.cell-kills, &.cell-votes {
			text-align: right;
			td {
				text-align: right;
			}
		}
		&.cell-votes {
			padding-right: 5px;
			@media(min-width: $desktop){
				padding-right: 15px;
			}
		}
		&.cell-players {
			padding-left: 5px;
		}
	}
	th {
		border-bottom: 0.1rem solid #404040;
	}
	td {
		border: none;
	}
}
#queuedCards {
	width: 90%;
	@media(min-width: $desktop) {
		width: 50%;
	}
	li {
		border: 1px solid $light-accent;
		list-style: none;
		border-radius: 2px;
		padding: 5px;
		user-select: none;
		&:focus {
			outline-color: #9b4dca;
		}
	}
}