$duration: 40s;

@-webkit-keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes ticker {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}
.container {
	.recentlyDrafted {
		padding: 0px;
		overflow: hidden;
	}
}

.ticker-wrap {
	box-sizing: content-box;
	width: 100%;
	overflow: hidden;
	height: 4rem;
	padding-left: 100%;
	&:hover .ticker {
		-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
		-o-animation-play-state: paused;
		 animation-play-state: paused;
	}
}

.ticker {
	display: inline-block;
	height: 4rem;
	line-height: 4rem;
	white-space: nowrap;
	padding-right: 100%;
	-webkit-animation-iteration-count: infinite; 
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: ticker;
	animation-name: ticker;
	-webkit-animation-duration: $duration;
	animation-duration: $duration;

	&__item {
		display: inline-block;
		padding: 0 2rem;
		font-size: 1.4rem;
		font-family: 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', monospace;
		color: white;
		letter-spacing: initial;
		.drafter {
			color: $mtg-blue;
		}
		.card {
			color: $mtg-gold;
		}
		.timestamp {
			color: $mtg-green;
		}
		@media (min-width: $desktop) {
			padding: 0 3rem;
		}
	}
}