#match-slip {
	width: 95%;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	@media(min-width: $desktop) {
		margin-left: 2.5rem;
		width: 75%;
	}
	border: 1px solid $light-font;
	.inactive {
		opacity: 0.5;
	}
}
#player-icon-selection {
	margin-bottom: 2rem;
}
#slip-results-selection {
	margin-top: 2rem;
	.playerResultsDiv {
		display: table;
		margin-bottom: 2rem;
		& img, .resultsInput {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.resultTypeInput {
	display: inline-block;
	vertical-align: top;
	.killIncrement, .voteIncrement, .winIncrement {
		margin-bottom: 0;
		float: left;
		display: inline-block;
	}
	.killCount, .voteCount {
		margin-bottom: 0;
		float: left;
		display: inline-block;
		padding: 1rem;
		font-size: 2rem;
	}
}
.playerResultsIcon {
	border-radius: 50%;
	border: 1px solid $light-font;
	width: 50px;
	height: auto;
	margin-right: 3rem;
}
.playerSelectionIcon {
		border-radius: 50%;
		border: 1px solid $light-font;
		width: 50px;
		height: auto;
		margin-right: 1rem;
		&.winner {
			border: 3px solid #f4bf42;
		}
}

#match-slip-submit {
	margin-top: 1rem;
}