.inactive {
	opacity: 0.5;
}
#match-slip {
	width: 95%;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	h3 {
		margin-bottom: 1rem;
	}
	@media(min-width: 500px) {
		margin-left: 2.5rem;
		width: 75%;
	}
	border: 1px solid $light-font;
}
#player-icon-selection {
	margin-bottom: 0;
	input {
		margin-bottom: 0.5rem;
	}
	@media(min-width: 500px){
		margin-bottom: 2rem;
	}
}
#slip-results-selection {
	margin-top: 0;
}
.playerResultsDiv {
	@media(min-width: 500px){
		margin-bottom: 2rem;
	}
	margin-bottom: 0.5rem;
	width: 100%;
	display: table;
	vertical-align: top;
}
.selectedPlayer {
	width: 20%;
	@media(min-width: 500px){
		width: 15%;
	}
	display: table-cell;
	vertical-align: top;
}
.resultsInput {
	width: 80%;
	display: table-cell;
}
.resultTypeInput {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 35%;
	&:last-child {
		width: 25%;
	}
	@media(min-width: 500px){
		width: 20%;
	}
	.killIncrement, .voteIncrement, .winIncrement {
		margin-bottom: 0;
		float: left;
		display: inline-block;
	}
	.killCount, .voteCount {
		margin-bottom: 0;
		float: left;
		display: inline-block;
		font-size: 2rem;
		padding: 1rem 0 0 1rem;
		@media(min-width: 500px){
			padding: 1rem 0 0 1.5rem;
		}
	}
}
.playerResultsIcon {
	border-radius: 50%;
	border: 1px solid $light-font;
	width: 50px;
	height: auto;
}
.playerSelectionIcon {
		border-radius: 50%;
		border: 1px solid $light-font;
		width: 50px;
		height: auto;
		margin-right: 1rem;
		&.winner {
			border: 3px solid #f4bf42;
		}
}

#match-slip-submit {
	margin-top: 1rem;
}